{% extends "base.html" %} {% block content %}
<article
  class="aero-gradient-glass rounded-lg p-4 flex flex-col border-midnight-light border"
>
  <section
    class="aero-gradient-dark p-2 rounded-lg border-midnight border prose-sm text-white flex flex-col items-center"
  >
    <h6
      class="aero-gradient text-white p-2 border border-midnight rounded-lg w-full items-center flex justify-center"
    >
      Who am I?
    </h6>
    <p>
      Hi, my name is Gabriel Kaszewski, and I am a Bioinformatics student 🧬 and
      self-taught full-stack developer 💻.
    </p>
    <p>
      My journey with programming started when I was 11 🚀. I love solving
      problems and creating software that resolves them 👨‍💻.
    </p>
    <p>
      Currently, I am working as a Python Developer at digimonkeys.com. In my
      free time I like to read about new technologies and work on my projects
      📚.
    </p>
  </section>
</article>
<article
  class="aero-gradient-glass rounded-lg p-4 flex flex-col border-midnight-light border w-full"
>
  <section
    class="aero-gradient-dark p-2 rounded-lg border-midnight border prose-sm prose-p:m-1 w-full text-white flex flex-col items-center"
  >
    <h6
      class="aero-gradient text-white p-2 border border-midnight rounded-lg w-full items-center flex justify-center"
    >
      My awesome skills
    </h6>
    <p>Below you can find a list of technologies I have experience with:</p>
    <ul class="flex flex-wrap gap-1 list-none">
      <li>Angular</li>
      <li>Azure pipelines</li>
      <li>C#</li>
      <li>C++</li>
      <li>Django</li>
      <li>Docker</li>
      <li>FastAPI</li>
      <li>Git</li>
      <li>Java</li>
      <li>JavaScript</li>
      <li>Linux</li>
      <li>PostGIS</li>
      <li>PostgreSQL</li>
      <li>Python</li>
      <li>Qt</li>
      <li>React</li>
      <li>Rust</li>
      <li>SCSS</li>
      <li>TailwindCSS</li>
      <li>Typescript</li>
      <li>Unity</li>
    </ul>
  </section>
</article>
<article
  class="aero-gradient-glass rounded-lg p-4 flex flex-col border-midnight-light border w-full"
>
  <section
    class="aero-gradient-dark p-2 rounded-lg border-midnight border prose-sm prose-p:m-1 w-full text-white flex flex-col items-center"
  >
    <h6
      class="aero-gradient text-white p-2 border border-midnight rounded-lg w-full items-center flex justify-center"
    >
      Work experience
    </h6>

    <section>
      <h6 class="text-white p-2 w-full items-center flex justify-center">
        Python Developer
      </h6>
      <p class="border-midnight border-b p-2">choreograph (2025 - currently)</p>
    </section>
    <section>
      <h6 class="text-white p-2 w-full items-center flex justify-center">
        Frontend Developer
      </h6>
      <p class="border-midnight border-b p-2">choreograph (2024 - 2025)</p>
    </section>
    <section>
      <h6 class="text-white p-2 w-full items-center flex justify-center">
        Frontend Developer
      </h6>
      <p class="border-midnight border-b p-2">wavemaker (2023 - 2024)</p>
    </section>
    <section>
      <h6 class="text-white p-2 w-full items-center flex justify-center">
        Frontend Developer
      </h6>
      <p class="border-midnight border-b p-2">GIAP (2022 - 2023)</p>
    </section>
    <section>
      <h6 class="text-white p-2 w-full items-center flex justify-center">
        Python Developer
      </h6>
      <p class="border-midnight border-b p-2">GIAP (2021 - 2023)</p>
    </section>
    <section>
      <h6 class="text-white p-2 w-full items-center flex justify-center">
        Python Developer
      </h6>
      <p class="border-midnight border-b p-2">digimonkeys (2021 - currently)</p>
    </section>
    <section>
      <h6 class="text-white p-2 w-full items-center flex justify-center">
        Unity Developer
      </h6>
      <p class="border-midnight border-b p-2">Mobil Titans (2019 - 2020)</p>
    </section>
  </section>
</article>
{% endblock %}
